// Color : Bunker
// --
// @info: https://www.htmlcsscolor.com/hex/21252B
// ========================================

// Base
// ------------------
$bunker: #21252B;


// Shades (from $bunker to black)
// ------------------
$bunker-shade-1: #1A1E22;
$bunker-shade-2: #15181B;
$bunker-shade-3: #111316;
$bunker-shade-4: #0E0F12;
$bunker-shade-5: #0B0C0E;
$bunker-shade-6: #090A0B;
$bunker-shade-7: #070809;
$bunker-shade-8: #060607;
$bunker-shade-9: #050506;


// Tints (from $bunker to white)
// ------------------
$bunker-tint-1: #4D5155;
$bunker-tint-2: #717477;
$bunker-tint-3: #8D9092;
$bunker-tint-4: #A4A6A8;
$bunker-tint-5: #B6B8B9;
$bunker-tint-6: #C5C6C7;
$bunker-tint-7: #D1D1D2;
$bunker-tint-8: #DADADB;
$bunker-tint-9: #E1E1E2;


// Variations
// ------------------
$bunker-variation-1: #21252B;
$bunker-variation-2: #212B25;
$bunker-variation-3: #25212B;
$bunker-variation-4: #252B21;
$bunker-variation-5: #2B2125;
$bunker-variation-6: #2B2521;

// Alpha
// ------------------
$bunker-100: rgba($bunker, 1);
$bunker-95: rgba($bunker, .95);
$bunker-90: rgba($bunker, .9);
$bunker-85: rgba($bunker, .85);
$bunker-80: rgba($bunker, .8);
$bunker-75: rgba($bunker, .75);
$bunker-70: rgba($bunker, .7);
$bunker-65: rgba($bunker, .65);
$bunker-60: rgba($bunker, .6);
$bunker-55: rgba($bunker, .55);
$bunker-50: rgba($bunker, .5);
$bunker-45: rgba($bunker, .45);
$bunker-40: rgba($bunker, .4);
$bunker-35: rgba($bunker, .35);
$bunker-30: rgba($bunker, .3);
$bunker-25: rgba($bunker, .25);
$bunker-20: rgba($bunker, .2);
$bunker-15: rgba($bunker, .15);
$bunker-10: rgba($bunker, .1);
$bunker-05: rgba($bunker, .05);
$bunker-00: rgba($bunker, .0);