.wptb--copyright-02 {
    // border: 10px solid cyan;
    background-color: rgba(0, 0, 0, 0.5);
    color: #C3C9CE;
    font-size: 14px;
    padding: 11px 0;

    ul {
        margin-bottom: 0;
    }
}