/// SCSS Mixins : theme
/// ------------------
/// 
/// @example
/// .element {
///     @include property('background-color', 'bg')
/// }
/// 
/// =============================================================================


@mixin property($property, $key) {
    @include theme() {
        #{$property}: map-get($theme-map, $key);
    }
}
@mixin theme() {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }

}