
// 1. Default sizes
// ------------------
$font-size--xs: .6rem; // ~9px 
$font-size--sm: .75rem; // ~12px
$font-size--md: .875rem; // ~14px
$font-size--lg: 16px;
$font-size--xl: 22px;


// 2. Default Height
// ------------------
$line-height--sm: 18px;
$line-height--md: 22px;
$line-height--lg: 26px;
$line-height--xl: 32px;